html {
    transition: all 2s;
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    transition: 4s;
}


.input_for_img:checked ~ .mem > .img {
height: 25vw;
}

.input_for_img {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

h1 {
    font-size: 6vw;
}


.label {
    font-size: 3vw;  
    cursor: pointer;
    display: flex;
    justify-content: space-between;
align-items: center;
}

.icon {
    font-size: 4vw; 
    opacity: 0;
}

 /* .mem {
    height: 0rem;
}  */



img {
    margin: 0 auto;
    max-width: 90%;
    display: block;
height: 0vw;
}

 /* .mem {
     height: 0rem;
 } */

 section:hover .img {
    height: 25vw; 
    transition: 2s;
}  




.bayan {
    color: blue;
    transition: 1s;
}
.label1 {
    color: black;
}
.bayan:hover {
color:black;
transition: 1s;
} 
.bayan:hover .icon{
    opacity:initial;
    transition: 0.5s;
} 



/* .section2:hover .mem_second {
    display: block;
    transition: 4s;
}
.section3:hover .mem_third {
display: block;
transition: 4s;
}
.section4:hover .mem_fourth {
display: block;
transition: 4s;
} 

.section5:hover .mem_fifth {
display: block;
transition: 4s;
}    */

.section1:hover .icon {
transform: rotate(45deg);
transition: 0.1s;
} 
.section2:hover .icon {
transform: rotate(45deg);
transition: 0.1s;
}
.section3:hover .icon {
    transform: rotate(45deg);
    transition: 0.1s;
}
.section4:hover .icon {
    transform: rotate(45deg);
    transition: 0.1s;
}
.section5:hover .icon {
    transform: rotate(45deg);
    transition: 0.1s;
}

label {
    cursor: pointer;
}
